{% macro printTestState(test) %}
    {% if test.hasError %}
        ERROR
    {% elseif test.hasFailure %}
        FAILURE
    {% elseif test.skipped %}
        SKIPPED
    {% elseif test.incomplete %}
        INCOMPLETE
    {% elseif test.risky %}
        RISKY
    {% else %}
        SUCCESS
    {% endif %}
{% endmacro %}

{% macro rowClass(test) %}
    {% set class = 'bg-success' %}
    {% if test.hasError or test.hasFailure %}
        {% set class = 'bg-danger' %}
    {% elseif test.isSkipped or test.isIncomplete or test.isRisky %}
        {% set class = 'bg-warning' %}
    {% endif %}
    {{ class }}
{% endmacro %}

{% macro calculateProgressElement(count, allCount) %}
    {% set percent = (100/allCount)*count %}
    width:{{ percent }}%
{% endmacro %}

{% macro printTest(test, name, prefix) %}
    <div class="row {{ _self.rowClass(test) }}">
        <div class="col-xs-3">
            {{ prefix|raw }}<a href="#test_{{ test.test.name }}_{{ name }}" data-toggle="collapse">{{ name }}</a>
        </div>
        <div class="col-xs-9">
            {{ _self.printTestState(test) }}
        </div>
    </div>
    <div id="test_{{ test.test.name }}_{{ name }}" class="collapse">
        {% if test.exception %}
            <b>{{ test.exception.message }}</b><br><br>
            <b>{{ test.exception.file }} line:{{ test.exception.line }}</b><br/>
            {% for trace in test.exception.trace %}
                {{ trace.file }} line: {{ trace.line }} function: {{ trace.function }}<br/>
            {% endfor %}<br/>
        {% endif %}
        {{ test.message|raw }}
    </div>
{% endmacro %}

{% macro printSeleniumTest(test,prefix) %}
    <div class="row {{ _self.rowClass(test) }}">
        <div class="col-xs-3">
            {% set firsttestcase = test.tests|first %}
            {{ prefix|raw }}<a href="#seleniumTest_{{ firsttestcase.name }}"
                               data-toggle="collapse">{{ firsttestcase.name }}</a>
        </div>
        <div class="col-xs-9">
            {% for browser,testcase in test.tests %}
                {{ browser }}:
                {{ _self.printTestState(testcase) }}
            {% endfor %}
            &thinsp;
        </div>
    </div>
    <div id="seleniumTest_{{ firsttestcase.name }}" class="collapse">
        {% for browser,testcase in test.tests %}
            {{ _self.printTest(testcase,browser,prefix~'&nbsp;&nbsp;&nbsp;') }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro printTestSuite(suite,name,prefix) %}
    <div class="row {{ _self.rowClass(suite) }}">
        <div class="col-xs-3">
            {{ prefix|raw }}<a href="#suite_{{ name|replace(' ', '_') }}"
                               data-toggle="collapse">{{ name }}</a>
            {% set countAll = suite.countSuccess + suite.countFailed + suite.countError + suite.countSkipped + suite.countRisky + suite.countIncomplete %}
        </div>
        <div class="col-xs-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     style="{{ _self.calculateProgressElement(suite.countSuccess, countAll) }}">{{ suite.countSuccess }}</div>
                <div class="progress-bar progress-bar-warning" role="progressbar"
                     style="{{ _self.calculateProgressElement(suite.countSkipped + suite.countRisky + suite.countIncomplete, countAll) }}">{{ suite.countSkipped + suite.countRisky + suite.countIncomplete }}</div>
                <div class="progress-bar progress-bar-danger" role="progressbar"
                     style="{{ _self.calculateProgressElement(suite.countFailed + suite.countError, countAll) }}">{{ suite.countFailed + suite.countError }}</div>
            </div>
        </div>
    </div>
    <div id="suite_{{ suite.suite.name|replace(' ', '_') }}"
         class="collapse">
        {% for test in suite.tests %}
            {% if test.getTests is defined %}
                {{ _self.printSeleniumTest(test,prefix~'&nbsp;&nbsp;&nbsp;') }}
            {% else %}
                {{ _self.printTest(test,test.test.name,prefix~'&nbsp;&nbsp;&nbsp;') }}
            {% endif %}
        {% endfor %}
        {% for child in suite.childSuites %}
            {{ _self.printTestSuite(child,child.suite.name,prefix~'&nbsp;&nbsp;&nbsp;') }}
        {% endfor %}
    </div>
{% endmacro %}